<div class="fot">
    <div class="footer2">
        <div class="foo-container">
            <div class="newslate-fotter1">
              <h1 class="newslatter"><b>Newsletter</b></h1>
              <p class="first-p">
                Get timely updates from your <br />
                favorite products
              </p>
              <div class="email">
                <div class="fafa-icon">
                  <i class="fa fa-envelope" aria-hidden="true"></i>
                </div>
                <div class="fafa-icon">
                  <p>ilyas.traikia@yahoo.com</p>
                </div>
              </div>
            </div>
        
            <div class="sub-container">
              <div class="first-p">
                <h1><b>Services</b></h1>
                <p>
                  Email Marketing <br />
                  Branding <br />
                  Campaign <br />
                  offline
                </p>
              </div>
        
              <div class="first-p">
                <h1><b>About</b></h1>
                <p>
                  Our Story <br />
                  Benefits <br />
                  team <br />
                  Career
                </p>
              </div>
        
              <div class="first-p">
                <h1><b>Contract</b></h1>
                <p>
                  Facebook <br />
                  Twitter <br />
                  Instagram <br />
                  Linkedin
                </p>
              </div>
        
              <div class="first-p">
                <h1><b>Help</b></h1>
                <p>
                  FAQ <br />
                  Contract us
                </p>
              </div>
            </div>
          
        
            <!-- <div class="Copyright">
                <div class="Copyright-p">
                <p>Copyright@2024. Stitch Construction. All Right Receive.</p>
                </div>
                <div class="terms">
                <div clCopyright-p>
                    <p>Terms of service</p>
                </div>
                <div clCopyright-p>privacy Policy</div>
                </div>
          </div> -->

    </div>
  
</div>
