<div class="container">
  <div class="sub-container">
    <div class="para">
      <h1 class="h-One">Top Pics For You</h1>
      <p class="paragraph-one">
        Find a bright idea to suit your taste without great selection of
        suspension, floor and table lights.
      </p>
    </div>

    <div class="seconed-section-pic">
      <div class="card">
        <img
          src="../../../assets/images/New-img/Frame 1000008716 (4).png"
          alt=""
        />

        <div class="container">
          <h1><b>Bollard lamp</b></h1>

          <div class="for_left_right">
            <div class="left">
              <p class="card-paragraph">$7.00 <small>$12.00</small></p>
              <i
                style="color: rgb(244, 200, 26)"
                class="fa fa-star"
                aria-hidden="true"
              ></i>
              <i
                style="color: rgb(244, 200, 26)"
                class="fa fa-star"
                aria-hidden="true"
              ></i>
              <i
                style="color: rgb(244, 200, 26)"
                class="fa fa-star"
                aria-hidden="true"
              ></i>
              <i
                style="color: rgb(244, 200, 26)"
                class="fa fa-star"
                aria-hidden="true"
              ></i>
              <i
                style="color: rgb(244, 200, 26)"
                class="fa fa-star"
                aria-hidden="true"
              ></i>
            </div>

            <div class="right">
              <button>
                <i
                  style="font-size: 30px; padding: 10px; color: green"
                  class="fa fa-shopping-bag"
                  aria-hidden="true"
                ></i>
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <img
          src="../../../assets/images/New-img/Frame 1000008716 (5).png"
          alt=""
        />
        <div class="container">
          <h1>
            <b> wall lamp</b>
          </h1>
          <div class="for_left_right">
            <div>
              <p class="card-paragraph">$7.00 <small>$12.00</small></p>

              <i
                style="color: rgb(244, 200, 26)"
                class="fa fa-star"
                aria-hidden="true"
              ></i>
              <i
                style="color: rgb(244, 200, 26)"
                class="fa fa-star"
                aria-hidden="true"
              ></i>
              <i
                style="color: rgb(244, 200, 26)"
                class="fa fa-star"
                aria-hidden="true"
              ></i>
              <i
                style="color: rgb(244, 200, 26)"
                class="fa fa-star"
                aria-hidden="true"
              ></i>
              <i
                style="color: rgb(244, 200, 26)"
                class="fa fa-star"
                aria-hidden="true"
              ></i>
            </div>
            <div>
              <button>
                <i
                  style="font-size: 30px; padding: 10px; color: green"
                  class="fa fa-shopping-bag"
                  aria-hidden="true"
                ></i>
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="container">
          <img
            src="../../../assets/images/New-img/Frame 1000008716 (6).png"
            alt=""
          />
          <h1><b>Diseal V2 Hoodie</b></h1>

          <div class="for_left_right">
            <div>
              <p class="card-paragraph">$7.00 <small>$12.00</small></p>

              <i
                style="color: rgb(244, 200, 26)"
                class="fa fa-star"
                aria-hidden="true"
              ></i>
              <i
                style="color: rgb(244, 200, 26)"
                class="fa fa-star"
                aria-hidden="true"
              ></i>
              <i
                style="color: rgb(244, 200, 26)"
                class="fa fa-star"
                aria-hidden="true"
              ></i>
              <i
                style="color: rgb(244, 200, 26)"
                class="fa fa-star"
                aria-hidden="true"
              ></i>
              <i
                style="color: rgb(244, 200, 26)"
                class="fa fa-star"
                aria-hidden="true"
              ></i>
            </div>
            <div>
              <button>
                <i
                  style="font-size: 30px; padding: 10px; color: green"
                  class="fa fa-shopping-bag"
                  aria-hidden="true"
                ></i>
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <img src="../../../assets/images/New-img/Frame 1000008716.png" alt="" />
        <div>
          <div class="container">
            <h1><b>Diesel V2 Hoodie</b></h1>
            <div class="for_left_right">
              <div>
                <p class="card-paragraph">$7.00 <small>$12.00</small></p>

                <i
                  style="color: rgb(244, 200, 26)"
                  class="fa fa-star"
                  aria-hidden="true"
                ></i>
                <i
                  style="color: rgb(244, 200, 26)"
                  class="fa fa-star"
                  aria-hidden="true"
                ></i>
                <i
                  style="color: rgb(244, 200, 26)"
                  class="fa fa-star"
                  aria-hidden="true"
                ></i>
                <i
                  style="color: rgb(244, 200, 26)"
                  class="fa fa-star"
                  aria-hidden="true"
                ></i>
                <i
                  style="color: rgb(244, 200, 26)"
                  class="fa fa-star"
                  aria-hidden="true"
                ></i>
              </div>

              <div>
                <button>
                  <i
                    style="font-size: 30px; padding: 10px; color: green"
                    class="fa fa-shopping-bag"
                    aria-hidden="true"
                  ></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <img src="../../../assets/images/New-img/wall lamp (2).png" alt="" />

        <div class="container">
          <h1><b>Grey winter Hoodie</b></h1>
          <div class="for_left_right">
            <div>
              <p class="card-paragraph">$7.00 <small>$12.00</small></p>
              <i
                style="color: rgb(244, 200, 26)"
                class="fa fa-star"
                aria-hidden="true"
              ></i>
              <i
                style="color: rgb(244, 200, 26)"
                class="fa fa-star"
                aria-hidden="true"
              ></i>
              <i
                style="color: rgb(244, 200, 26)"
                class="fa fa-star"
                aria-hidden="true"
              ></i>
              <i
                style="color: rgb(244, 200, 26)"
                class="fa fa-star"
                aria-hidden="true"
              ></i>
              <i
                style="color: rgb(244, 200, 26)"
                class="fa fa-star"
                aria-hidden="true"
              ></i>
            </div>

            <div>
              <button>
                <i
                  style="font-size: 30px; padding: 10px; color: green"
                  class="fa fa-shopping-bag"
                  aria-hidden="true"
                ></i>
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <img src="../../../assets/images/New-img/wall lamp.png" alt="" />

        <div class="container">
          <h1><b>Bollard lamp</b></h1>

          <div class="for_left_right">
            <div>
              <p class="card-paragraph">$7.00 <small>$12.00</small></p>
              <i
                style="color: rgb(244, 200, 26)"
                class="fa fa-star"
                aria-hidden="true"
              ></i>
              <i
                style="color: rgb(244, 200, 26)"
                class="fa fa-star"
                aria-hidden="true"
              ></i>
              <i
                style="color: rgb(244, 200, 26)"
                class="fa fa-star"
                aria-hidden="true"
              ></i>
              <i
                style="color: rgb(244, 200, 26)"
                class="fa fa-star"
                aria-hidden="true"
              ></i>
              <i
                style="color: rgb(244, 200, 26)"
                class="fa fa-star"
                aria-hidden="true"
              ></i>
            </div>

            <div>
              <button>
                <i
                  style="font-size: 30px; padding: 10px; color: green"
                  class="fa fa-shopping-bag"
                  aria-hidden="true"
                ></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="card">
          <img src="../../../assets/images/New-img/Image.png" alt="" />
          <div>
            <h1><b>Bollard lamp</b></h1>
          </div>

          <div class="for_left_right">
            <div>
              <p class="card-paragraph">$7.00 <small>$12.00</small></p>
              <i
                style="color: rgb(244, 200, 26)"
                class="fa fa-star"
                aria-hidden="true"
              ></i>
              <i
                style="color: rgb(244, 200, 26)"
                class="fa fa-star"
                aria-hidden="true"
              ></i>
              <i
                style="color: rgb(244, 200, 26)"
                class="fa fa-star"
                aria-hidden="true"
              ></i>
              <i
                style="color: rgb(244, 200, 26)"
                class="fa fa-star"
                aria-hidden="true"
              ></i>
              <i
                style="color: rgb(244, 200, 26)"
                class="fa fa-star"
                aria-hidden="true"
              ></i>
            </div>

            <div>
              <button>
                <i
                  style="font-size: 30px; padding: 10px; color: green"
                  class="fa fa-shopping-bag"
                  aria-hidden="true"
                ></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="card">
          <img src="../../../assets/images/New-img/Bollard lamp.png" alt="" />
          <div>
            <h1><b>Bollard lamp</b></h1>
          </div>

          <div class="for_left_right">
            <div>
              <p class="card-paragraph">$7.00 <small>$12.00</small></p>
              <i
                style="color: rgb(244, 200, 26)"
                class="fa fa-star"
                aria-hidden="true"
              ></i>
              <i
                style="color: rgb(244, 200, 26)"
                class="fa fa-star"
                aria-hidden="true"
              ></i>
              <i
                style="color: rgb(244, 200, 26)"
                class="fa fa-star"
                aria-hidden="true"
              ></i>
              <i
                style="color: rgb(244, 200, 26)"
                class="fa fa-star"
                aria-hidden="true"
              ></i>
              <i
                style="color: rgb(244, 200, 26)"
                class="fa fa-star"
                aria-hidden="true"
              ></i>
            </div>

            <div>
              <button>
                <i
                  style="font-size: 30px; padding: 10px; color: green"
                  class="fa fa-shopping-bag"
                  aria-hidden="true"
                ></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="btn-container">
  <button class="btn">View all products</button>
</div>
